<!DOCTYPE html>
<html>
  <head>
    <title>Generated Documentation</title>

    <link rel="stylesheet" type="text/css" href=<%=Gem::Specification.find_by_name("gumiho").gem_dir + "/lib/generate_doc/style/template_style.css" %>>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src=<%=Gem::Specification.find_by_name("gumiho").gem_dir + "/lib/generate_doc/javascript/template_script.js" %>> </script>

    
  </head>
  
  <body>
    <br>
      <div class="main">
        <ul class="items">
          <% response.each do |res| %>
            <% if check_status(res[:response]) == 'ok' %>
              <li class="box">
                <span class="method"><%= res[:method]  %></span> 
                <span class="url"><b><%= res[:url]  %> </b></span>
                <span class="description"><b>Description:</b> <%=  map_string(res[:response], 'data.description') %> </span>
                <form>
                  <table class ="params">
                    <tr>
                      <th><b>Name</b></th>
                      <th><b>Value</b></th>
                      <th><b>Require</b></th>
                      <th><b>Type</b></th>
                      <th><b>Description</b></th>
                    </tr> 
                    <% map_array(res[:response], 'data.params') do |param_data| %>
                      <tr>
                        <td><%= name = map_string(param_data,'name') %></td>
                        <td><input type="text" name=<%= name %> ></td>
                        <td><%= map_string(param_data,'required') %></td>
                        <td><%= map_string(param_data,'type') %></td>
                        <td><%= map_string(param_data,'desc') %></td>
                      </tr>
                    <% end %>
                  </table>
                  <div class="result">
                    <span class="response_h">Requested url</span>
                    <pre class="requested_url"></pre>
                    <span class="response_h">Response body</span>
                    <pre class="response_box" ></pre>
                    <span class="response_h">Response headers</span>
                    <pre class="response_headers"></pre>
                    <span class="response_h">Response status</span>
                    <pre class='response_code'></pre>
                  </div>
                  <button onclick="tryMe('<%= res[:method] %>', '<%= res[:url] %>', this)" type="button">Try it out</button>
                </form>
              </li>
            <% else %>
              <li class="box">
                <span class="method_failed"><%= res[:method] %></span> 
                <span class="url"><b><%= res[:url] %> </b></span>
                <p class="failed">Request FAILED.</p>
              </li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </body>
</html>
