<!DOCTYPE html>
<html>
  <head>
    
  
    <style>
       div.main {
                width: 1000px;
               
                margin: auto;}
    
      li.box {display: inherit;
              padding: 10px 10px;
              font-size: 14px;
              color: #ffff;
              margin: 0;
              background-color:#cee0f2;
              border-color: black;
              border-radius: 5px;}
              
      span.method {background-color:#0061ac;
                  padding: 10px 10px;
                  border-radius: 5px;
                  padding: 10px 10px;
                  color: #fff;
                  font-weight:bold;}
                  
      pre.textbox {resize: none;
                  background-color: white;
                  height: 250px;
                  overflow: auto;
                  border-radius: 5px;}
    
    table.params {border-collapse: collapse; 
                  width: 100%;
                  border-bottom: 1px solid #71a4d8;}
    table.params td, th {border-top: 1px solid #71a4d8;}
      
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <script type="text/javascript">
      function showDiv(button){
        $(button).next().toggle();
      }
    </script>
    
  </head>
  
  <body>
    </br>
 
      <div class='main'>
      <ul>
        <%response.each do |res|%>
            <%if res[:response]%>
                <li class='box'>
                  <span class='method'><%=res[:method]%></span> 
                  <b> <%=res[:url]%> </b>
                  </br></br>
                  <b>Description:</b> <%=map_string(res[:response], 'data.description')%>
                    <form>
                    <table class = 'params'>
                      <tr>
                        <th><b>Name</b></th>
                        <th><b>Value</b></th>
                        <th><b>Type</b></th>
                        <th><b>Description</b></th>
                       </tr> 
                        <%map_array('data.params', res[:response]) do |param|%>
                          <tr>
                          <td><%=name = map_string(param,'name')%></td>
                          <td><input type="text" name=<%=name%>>  </td>
                          <td><%=map_string(param,'type')%></td>
                          <td class='paramDescr'><%=map_string(param,'description')%></td>
                          </tr>
                        <%end%>
                    </table>
                    <button onclick="showDiv(this)">Try it out</button>
                    </form>
                  <!--Generate response with params-->
                  
                  
                  <div id="toggle" style="display:none">
                    <pre class='textbox'>
                      <%=JSON.pretty_generate res[:response]%>
                    </pre>
                  </div>
                  
                </li> 
                </br></br>
            <%end%>
        <%end%>
        
    </ul>
    </div>
  </body>
</html>
